*.meta
*.csproj
SquareTurn/Assembly-CSharp-Editor.csproj
SquareTurn/Assembly-CSharp-firstpass-vs.csproj
*.dll
*.info
SquareTurn/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
*.log
*.mdb
*.dll
*.info
SquareTurn/Library/metadata/9e/9e0f4ce6dd7863543a1d2020f547de77
SquareTurn/Library/metadata/b8/b8b579e7674c6a1498a96d1e4a868fac
*.csproj
*.info
*.log
*.sln
*.dll
*.mdb
*.dll
SquareTurn/Library/metadata/00/00000000000000007000000000000000
*.csproj
*.csproj