*.csproj
SquareTurn/Assembly-CSharp-Editor.csproj
SquareTurn/Assembly-CSharp-firstpass-vs.csproj
SquareTurn/Library/
*.userprefs
*.user
*.sln
*.unityproj
SquareTurn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SquareTurn/obj/Debug/Assembly-CSharp-firstpass.csproj.FileListAbsolute.txt
SquareTurn/obj/Debug/Assembly-CSharp-firstpass.csproj.CopyComplete
SquareTurn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SquareTurn/.vs/SquareTurn/v15/Server/sqlite3/storage.ide-wal
SquareTurn/.vs/SquareTurn/v15/Server/sqlite3/storage.ide-shm
SquareTurn/.vs/SquareTurn/v15/Server/sqlite3/storage.ide
SquareTurn/.vs/SquareTurn/v15/Server/sqlite3/db.lock
SquareTurn/.vs/SquareTurn/v15/Server/sqlite3/storage.ide-wal
SquareTurn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
